<div class="flights">

	<div class="list" *ngIf="!selectedFlight">

		<div *ngIf="flights && flights.length == 0">
			No Flights matching this filter
		</div>

		<table class="table" *ngIf="flights && flights.length > 0">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">Flight Number</th>
				<th scope="col">Flight Status</th>
				<th scope="col">From</th>
				<th scope="col">Departure</th>
				<th scope="col">To</th>
				<th scope="col">Arrival</th>
				<th scope="col">Actions</th>
			</thead>
			<tbody>
				<tr *ngFor="let flight of flights" (mouseover)="flight.hover = true;" (mouseleave)="flight.hover = false" (click)="showFlightDetail(flight)">
					<td scope="row">{{flight.id}}</td>
					<td scope="row">{{flight.flightNumber}}</td>
					<td scope="row">{{flight.flightStatus}}</td>
					<td scope="row">{{flight.departureCity.name}}</td>
					<td scope="row">{{flight.departureDate | date:'dd-MM-yyyy HH:mm'}}</td>
					<td scope="row">{{flight.arrivalCity.name}}</td>
					<td scope="row">{{flight.arrivalDate | date:'dd-MM-yyyy HH:mm'}}</td>
					<td scope="row">
						<button [ngClass]="{'hidden': !flight.hover}" class="btn btn-primary" routerLink="/flight//{{flight.id}}">edit</button>
					</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-outline-secondary" (click)="goBack()">go back</button>

	</div>

</div>