.crud {
	width: 90%;
}

.new-flight {
	display: flex;
}

.crud-input {
	margin: 3px;
}

.hidden {
	visibility: hidden;
}

.btn-primary {
	display: inline-block;
}

timepicker {
	display: inline-block;
	vertical-align: middle;
}

.edit-form {
	padding: 8px;
}