<div class="crud">
	<div class="list" *ngIf="!selectedPilot">

		<table class="table">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Actions</th>
			</thead>
			<tbody>
				<tr *ngFor="let pilot of pilots" (mouseover)="pilot.hover = true;" (mouseleave)="pilot.hover = false">
					<td scope="row">{{pilot.id}}</td>
					<td scope="row">{{pilot.name}}</td>
					<td scope="row">
						<button [ngClass]="{'hidden': !pilot.hover}" class="btn btn-primary" (click)="editPilot(pilot)">edit</button>
						<button [ngClass]="{'hidden': !pilot.hover}" class="btn btn-primary" (click)="deletePilot(pilot)">remove</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- pilot editing -->
	<div *ngIf="selectedPilot">
		<h3>Pilot Editing</h3>

		<input [(ngModel)]="selectedPilot.name" />

		<button class="btn btn-outline-secondary" (click)="goBack()">go back</button>
		<button class="btn btn-primary" (click)="savePilot(selectedPilot)">save</button>
	</div>

	<div class="new-pilot" *ngIf="!selectedPilot">
		<input class="crud-input" [(ngModel)]="newPilotName" placeholder="pilot name" />

		<button class="btn btn-primary" (click)="addPilot()">save new</button>
	</div>

</div>