<div class="autocomplete-select">
	<div class="selected" (click)="toggleShowAutocomplete()">
		<span *ngIf="selected">{{selected[optionLabelProp]}}</span>
		<span class="remove" *ngIf="selected" (click)="remove()">x</span>
	</div>
	
	<div class="dropdown-container" [ngClass]="{'hidden': !visible}">
		<div class="container-autocomplete-input">
			<input [(ngModel)]="term" type="text" class="autocomplete-input" placeholder="{{placeholder}}" (keyup)="search(this.term)" />
		</div>

		<div class="dropdown">
			<div class="option" *ngFor="let option of options$ | async" (click)="select(option)">
				{{option[optionLabelProp]}}
			</div>
		</div>
	</div>
</div>