.autocomplete-select {
  display: inline-block;
  vertical-align: middle;
}

.autocomplete-select .dropdown-container {
  position: absolute;
}

.autocomplete-select .remove {
  position: relative;
  float: right;
  margin-right: 5px;
}

.autocomplete-select .dropdown {
  display: block;
  position: fixed;
  max-width: 300px;
  min-width: 214px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbc2c7;
}

.autocomplete-select .dropdown .option {
  text-align: left;
  padding: 6px;
}

.autocomplete-select .dropdown .option {
  background-color: white;
}

.autocomplete-select .dropdown .option:hover{
  background-color: #c2d6e4;
  cursor: pointer;
}

.autocomplete-select .selected {
  border: gray;
  border-style: solid;
  border-radius: 4px;
  width: 214px;
  min-height: 30px;
  border-width: 2px;
}

.autocomplete-select .selected:hover {
  cursor: pointer;
}

.autocomplete-select .hidden {
  display: none;
}