<div class="flights-search">
	<div class="search-form-container" *ngIf="!isListingFlights">
		<ul class="nav nav-tabs container">
			<li *ngFor="let searchType of searchTypes">
				<a (click)="setActive(searchType)" [ngClass]="{'active': searchType.active}"
					class="nav-link">{{searchType.name}}</a>
			</li>
		</ul>

		<div class="search-form">
			
			<div class="field-align-left">
				<label>Flight Status</label>
				<select [(ngModel)]="flightStatus">
				  <option *ngFor="let status of flightService.STATUS" [ngValue]="status">{{status}}</option>
				</select>	
			</div>

			<div class="field-align-left">
				<label>Departure</label>
				<input type="date" [ngModel]="departureDate | date:'yyyy-MM-dd'" (ngModelChange)="departureDate = $event"/>
			</div>

			<div *ngIf="selectedType && selectedType.name == 'flight'">

	            <div class="field-align-left">
					<label>Flight Number</label>
					<input [(ngModel)]="flightNumber" />
				</div>

			</div>
			<div *ngIf="selectedType && selectedType.name == 'route'">
				
	            <div class="field-align-left">
					<label>Departure City</label>
					<app-autocomplete-select placeholder="city name" [service]="cityService" 
						optionLabelProp="name" [(selected)]="departureCity"></app-autocomplete-select>
				</div>

				<div class="field-align-left">
					<label>Arrival</label>
					<input type="date" [ngModel]="arrivalDate | date:'yyyy-MM-dd'" (ngModelChange)="arrivalDate = $event"/>
				</div>

				<div class="field-align-left">
					<label>Arrival City</label>
					<app-autocomplete-select placeholder="city name" [service]="cityService" 
						optionLabelProp="name" [(selected)]="arrivalCity"></app-autocomplete-select>
				</div>

			</div>

			<button class="btn btn-primary" (click)="searchFlights()">search</button>
		</div>
	</div>

	<app-flights [(flights)]="flights" *ngIf="isListingFlights"></app-flights>

</div>