.flights-search .search-form {
	padding: 8px;
	text-align: left;
}

.flights-search .search-form .field-align-left {
	margin: 8px;
}

.flights-search .search-form-container {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.flights-search .search-form-container .nav-tabs a{
	color: #097aff;
}

.flights-search .search-form-container .nav-tabs a.active{
	color: initial;
}

.flights-search .search-form-container .nav-tabs a:hover{
	cursor: pointer;
}