<div class="crud">
	<div class="list" *ngIf="!selectedPlane">

		<table class="table">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">Brand</th>
				<th scope="col">Model</th>
				<th scope="col">Actions</th>
			</thead>
			<tbody>
				<tr *ngFor="let plane of planes" (mouseover)="plane.hover = true;" (mouseleave)="plane.hover = false">
					<td scope="row">{{plane.id}}</td>
					<td scope="row">{{plane.brand}}</td>
					<td scope="row">{{plane.model}}</td>
					<td scope="row">
						<button [ngClass]="{'hidden': !plane.hover}" class="btn btn-primary" (click)="editPlane(plane)">edit</button>
						<button [ngClass]="{'hidden': !plane.hover}" class="btn btn-primary" (click)="deletePlane(plane)">remove</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- plane editing -->
	<div *ngIf="selectedPlane">
		<h3>Plane Editing</h3>

		<div class="form-group">
			<label>Brand</label>
			<input [(ngModel)]="selectedPlane.brand" />
		</div>
		<div class="form-group">
			<label>Model</label>
			<input [(ngModel)]="selectedPlane.model" />
		</div>

		<button class="btn btn-outline-secondary" (click)="goBack()">go back</button>
		<button class="btn btn-primary" (click)="savePlane(selectedPlane)">save</button>
	</div>

	<div class="new-plane" *ngIf="!selectedPlane">
		<input class="crud-input" [(ngModel)]="newPlaneBrand" placeholder="plane brand" />
		<input class="crud-input" [(ngModel)]="newPlaneModel" placeholder="plane model" />

		<button class="btn btn-primary" (click)="addPlane()">save new</button>
	</div>

</div>