<div *ngIf="flight">

	<div class="form-group">
		<label>Flight Number:</label>
		{{flight.flightNumber}}
	</div>

	<div class="form-group">
		<label>Flight Status:</label>
		{{flight.flightStatus}}
	</div>		

	<div class="form-group">
		<label>Departure:</label>
		{{flight.departureDate | date:'yyyy-MM-dd HH:mm'}}
	</div>

	<div class="form-group">
		<label>Arrival:</label>
		{{flight.arrivalDate | date:'yyyy-MM-dd HH:mm'}}
	</div>

	<!-- departure city -->
	<div class="form-group">
		<label>Departure City:</label>
		{{flight.departureCity.name}}
	</div>

	<!-- arrival city -->
	<div class="form-group">
		<label>Arrival City:</label>
		{{flight.arrivalCity.name}}
	</div>

	<!-- plane -->
	<div class="form-group">
		<label>Plane:</label>
		{{flight.plane.brand}} - {{flight.plane.model}}
	</div>

	<!-- pilot -->
	<div class="form-group">
		<label>Pilot:</label>
		{{flight.pilot.name}}
	</div>

	<button class="btn btn-outline-secondary" (click)="goBack()">go back</button>

</div>