<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1 class="container" style="color: #007bff;">
		Flights App
	</h1>

	<ul class="nav nav-tabs container">
		<li *ngFor="let route of routes">
			<a routerLink="{{route.routerLink}}" (click)="setActive(route)" [ngClass]="{'active': route.active}" 
				class="nav-link" href="#">{{route.name}}</a>
		</li>
	</ul>

	<div class="main-container">
		<router-outlet></router-outlet>
	</div>
</div>
