.container {
	width: 80%;
}

.main-container {
	width: 80%;
	
	border: #cac8c8;
    border-width: 1px;
    border-style: solid;

    padding: 8px;

    margin-top: -1px;
    margin-left: 10%;
    margin-right: 10%;
}