<div class="crud">
	<div class="list" *ngIf="!selectedCity">

		<table class="table">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Actions</th>
			</thead>
			<tbody>
				<tr *ngFor="let city of cities" (mouseover)="city.hover = true;" (mouseleave)="city.hover = false">
					<td scope="row">{{city.id}}</td>
					<td scope="row">{{city.name}}</td>
					<td scope="row">
						<button [ngClass]="{'hidden': !city.hover}" class="btn btn-primary" (click)="editCity(city)">edit</button>
						<button [ngClass]="{'hidden': !city.hover}" class="btn btn-primary" (click)="deleteCity(city)">remove</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- city editing -->
	<div *ngIf="selectedCity">
		<h3>City Editing</h3>

		<input [(ngModel)]="selectedCity.name" />

		<button class="btn btn-outline-secondary" (click)="goBack()">go back</button>
		<button class="btn btn-primary" (click)="saveCity(selectedCity)">save</button>
	</div>

	<div class="new-city" *ngIf="!selectedCity">
		<input class="crud-input" [(ngModel)]="newCityName" placeholder="city name" />

		<button class="btn btn-primary" (click)="addCity()">save new</button>
	</div>

</div>