<div *ngIf="flight">

	<div class="form-group">
		<label>Flight Number</label>
		<input [(ngModel)]="flight.flightNumber" />
	</div>

	<div class="form-group">
		<label>Flight Status</label>
		<select [(ngModel)]="flight.flightStatus">
		  <option *ngFor="let status of flightService.STATUS" [ngValue]="status">{{status}}</option>
		</select>	
	</div>		

	<div class="form-group">
		<label>Departure</label>
		<input type="date" [ngModel]="flight.departureDate | date:'yyyy-MM-dd'" (ngModelChange)="flight.departureDate = $event"/>
		<timepicker [(ngModel)]="flight.departureTime"></timepicker>
	</div>

	<div class="form-group">
		<label>Arrival</label>
		<input type="date" [ngModel]="flight.arrivalDate | date:'yyyy-MM-dd'" (ngModelChange)="flight.arrivalDate = $event"/>
		<timepicker [(ngModel)]="flight.arrivalTime"></timepicker>
	</div>

	<!-- departure city -->
	<div class="form-group">
		<label>Departure City</label>
		<app-autocomplete-select placeholder="city name" [service]="cityService" 
			optionLabelProp="name" [(selected)]="flight.departureCity"></app-autocomplete-select>
	</div>

	<!-- arrival city -->
	<div class="form-group">
		<label>Arrival City</label>
		<app-autocomplete-select placeholder="city name" [service]="cityService" 
			optionLabelProp="name" [(selected)]="flight.arrivalCity"></app-autocomplete-select>
	</div>

	<!-- plane -->
	<div class="form-group">
		<label>Plane</label>
		<app-autocomplete-select placeholder="plane model" [service]="planeService" 
			optionLabelProp="model" [(selected)]="flight.plane"></app-autocomplete-select>
	</div>

	<!-- pilot -->
	<div class="form-group">
		<label>Pilot</label>
		<app-autocomplete-select placeholder="pilot name" [service]="pilotService" 
			optionLabelProp="name" [(selected)]="flight.pilot"></app-autocomplete-select>
	</div>

	<button class="btn btn-outline-secondary" (click)="goBack()">go back</button>
	<button class="btn btn-primary" (click)="saveFlight(flight)">save</button>

</div>